@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }

    .botao {
        width: 250px;
        height: 130px;
        margin: 20px;
        background-color: blue;
        color: white;
        font-size: 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        padding-left: 35px;
        padding-top: 33px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Portal de Relatórios</h1>
</div>
<div class="menu">
    <a class="botao" href="/Relatorio/Nfse">Relatório de Extrato Analitico NFSE</a>
    <a class="botao" href="/Relatorio/Cte">Relatório de Extrato Analitico CTE</a>
    <a class="botao" href="/Relatorio/Nfe">Relatório de Extrato Analitico NFE</a>
</div>